future
emoji
sqlalchemy
lxml
beautifulsoup4
requests
python-telegram-bot==13.4.1
psycopg2-binary
feedparser
spongemock
zalgo-text
geopy
nltk
psutil
fontTools
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
jikanpy
speedtest-cli
bleach
gpytranslate
markdown2
wikipedia
telethon
pyrogram
tgcrypto
spamwatch
alphabet_detector
pyrate-limiter
cachetools
Intellivoid-SPB
ujson
pytz
hachoir
pybase64
pretty_errors
humanize
