future
emoji
sqalchemy
lxml
beautifulsoup4
requests==2.20
python-telegram-bot==13.4.1
psycopg2-binary
feedparser
pynewtonmath
spongemock
zalgo-text
geopy
pymongo[srv]
nltk
psutil
fontTools
aiohttp>=2.2.5
Pillow>=4.2.0
CurrencyConverter
jikanpy
speedtest-cli
bleach
gpytranslate
markdown2
wikipedia
telethon==1.16.4
pyrogram
tgcrypto
spamwatch
alphabet_detector
pyrate-limiter
cachetools
Intellivoid-SPB
ujson
youtube_dl
pretty_errors
humanize
